# Default values for all accounts
defaults
auth on
tls on

# OVH
account ovh
host ssl0.ovh.net
from statut@mehdiguiraud.info
port 587
user statut@mehdiguiraud.info
password {{ email_password }}

# Syslog logging with facility LOG_MAIL instead of the default LOG_USER.
syslog LOG_MAIL

# Set a default account
account default : ovh
